<div class="" id="{{id}}"></div>
<script>
  {
    const data = {
      labels: [
        {{#each labels}}
          "{{this}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "{{name}}", type: "line",
          values: [
            {{#each values}}
              {{this}},
            {{/each}}
          ]
        }
      ],
       yMarkers: [{ label: "", value: {{yMarker}},type: 'solid' }]
    }

    const chart = new frappe.Chart("#{{id}}", {
      title: "{{name}}",
      data: data,
      type: 'line',
      height: 300,
      lineOptions: { dotSize: 6, regionFill: 1 },
      colors: ['#2185d0']
    })
  }
</script>