<table class="table mt-6">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.readings}}
    <tr>
      <td label="Code">
        {{code}}
      </td>
      <td label="Temperature">
        {{temperature}}
      </td>
      <td label="Wind Speed">
        {{windSpeed}}
      </td>
      <td label="Wind Direction">
        {{windDirection}}
      </td>
      <td label="Pressure">
        {{pressure}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>