
<div class="content box p-0 is-clipped">
  <div id="map" class="mapBorderColor" style="height: 450px;"></div>
</div>

<script>
  // Initializes map
  const map = L.map('map'); 

  // Sets initial coordinates and zoom level
  map.setView([53.727192, -6.876999], 6); 
  // Disables double click zoom
  map.doubleClickZoom.disable();


  // Sets map data source and associates with map
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 15,
      attribution: '© OpenStreetMap'
  }).addTo(map);

  let marker, circle, zoomed;


  // Sets average lat and lng to 0
  let avgLat = avgLng = 0;
  // Iterates through stations and adds markers to map
  {{#each stations}}
    marker = L.marker([{{latitude}}, {{longitude}}], {title: "{{stationName}}"});
    marker.bindPopup("<span class='popup-stats-ctn title'><strong>{{stationName}}</strong></span>" 
              + "<span class='popup-stats-ctn'>"
              + "<img src='https://cdn.glitch.global/80ce3e4b-d8a6-4fd5-8cd5-7803d57b6847/compass.svg'> {{latitude}}," + " {{longitude}}"
              + "</span><span class='popup-stats-ctn'>"
              + "<img src='{{latestWeatherIcon}}.svg'> {{latestWeatherDescription}}" + "<img src='https://cdn.glitch.global/80ce3e4b-d8a6-4fd5-8cd5-7803d57b6847/thermometer.svg'> {{latestTempC}} &#176C / {{latestTempF}} &#8457;"
              + "</span><span class='popup-stats-ctn'>"
              + "<img src='{{latestWindSpeedIcon}}.svg'> {{latestWindSpeed}} bft" + "<img src='https://cdn.glitch.global/80ce3e4b-d8a6-4fd5-8cd5-7803d57b6847/barometer.svg'> {{latestPressure}} hPa"
              + "</span><span class='popup-stats-ctn btn'>"
              + "<a href='/station/{{_id}}'>View Station Readings</a>"
              + "</span>"
              );
    marker.addTo(map);
    
    avgLat += {{latitude}};
    avgLng += {{longitude}};
  {{/each}}
  // Calculates average lat and lng
  avgLat /= {{stations.length}};
  avgLng /= {{stations.length}};
  // Sets map view to average lat and lng
  map.setView([avgLat, avgLng], 6);
  map.doubleClickZoom.disable();
  // Adds locate control to map
  L.control.locate().addTo(map);
</script>