{{> menu active="profile"}}

<!--Profile content start-->
<section class="content box">
    <div class="columns">
        <!--Profile form start-->
        <div class="column is-half">
            <form action="/profile/updateprofile/{{user._id}}" method="POST">
                <h3 class="subtitle">{{title}}</h3>
                <!--User info messaging start-->
                {{!-- #{if message}
                <div class="notification is-success">${message}</div>
                #{/if} --}}
                <!--User info messaging end-->
                <div class="field">
                    <label class="label">Email (Can not be updated)</label>
                    <input class="input" placeholder="{{user.email}}" name="email" value="{{user.email}}"
                           disabled>
                </div>
                <div class="field">
                    <label class="label">First Name</label>
                    <input class="input" placeholder="{{user.firstName}}" name="firstName" value="{{user.firstName}}"
                           required>
                </div>
                <div class="field">
                    <label class="label">Last Name</label>
                    <input class="input" placeholder="{{user.email}}" name="lastName"
                           value="{{lastName}}" required>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <input id="password" class="input" type="password" name="password" value="{{user.password}}"
                           onkeyup='check();' required>
                </div>
                <div class="field">
                    <label class="label">Confirm Password</label>
                    <input id="confrimpassword" class="input" type="password" name="confrimpassword"
                           value="{{user.password}}" onkeyup='check();' required>
                    <span id="warning"></span>
                </div>
                <div class="columns is-left is-deskop mt-2">
                    <div class="column">
                        <button id="btSubmit" class="button is-link is-info is-fullwidth">Update Profile</button>
                    </div>
                    <div class="column">
                        <span data-location="Profile" class="button is-danger is-fullwidth"
                              onclick="confirmdelete(this)">Delete Profile & Account</span>
                    </div>
                </div>
                <div id="confirmDeleteProfile" style="display: none;">
                    <div class="columns is-mobile">
                        <div class="column is-half">
                            <span data-location="Profile" class="button is-fullwidth" onclick="confirmdelete(this)">Cancel</span>
                        </div>
                        <div class="column is-half">
                            <a href="/deleteaccount/{{userid}}" class="button is-danger is-fullwidth">Confirm
                                Delete</a>
                        </div>
                    </div>
                </div>
            </form>
            <script type="text/javascript" src="../javascripts/custom.js"></script>
        </div>
        <!--Profile form end-->
        <!--Animated Graphic start-->
            {{> animatedgraphic}}
        <!--Animated Graphic end-->
    </div>
</section>
<!--Profile content end-->